.space4{
    line-height: 1.8; 
    font-family:cursive;
}
.upper7
{
    box-sizing: border-box;
    width: 75%;
}
.image-container {
    position: relative; 
  }
  
  .image-text2 {
    position:absolute; 
    top: 284%; 
    left: 48%; 
    right: 10%;
    transform: translate(-46%, -48%); 
    color: white; 
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 10px; 
  }
  .out
  {
    outline: solid 5px gray;
  }
  img{
    border-radius: 20px;
  }
  body{
    background-image: url("https://img.freepik.com/premium-photo/grunge-textures-backgrounds-white-texture-decorative-painted-surface_160901-4939.jpg");
    margin :5px 55px;
  }
  h1{
    font-family: cursive;
  }
   