.space2{
    line-height: 1.8; 
    font-family: Arial, sans-serif;
    
}
.upper8
{
    box-sizing: border-box;
    width: 75%;
    text-align: center;

}
.spaceba{
    margin: 15px;
}
img
{
   border-radius: 40px;
}
.image-container {
    position: relative; /* Allows absolute positioning of child elements */
  }
  
  .image-text {
    position:absolute; /* Position the text absolutely within the container */
    top: 35%; /* Center text vertically */
    left: 35%; /* Center text horizontally */
    transform: translate(-50%, -50%); /* Adjust for center positioning */
    color: white; /* Set text color (adjust as needed) */
    background-color: rgba(0, 0, 0, 0.5); /* Add a semi-transparent background */
    padding: 10px; /* Add padding around the text */
  }
  .out1
{
 outline:auto gray;
}