.space2{
    line-height: 1.8; 
    font-family: cursive;
    
}
.upper8
{
    box-sizing: border-box;
    width: 75%;
    text-align: center;

}
.spaceba{
    margin: 15px;
}
img
{
   border-radius: 40px;
}
.image-container {
    position: relative; 
}
  .image-text {
    position:absolute; 
    top: 32%; 
    left: 35%; 
    transform: translate(-50%, -50%); 
    color: white; 
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px; 
  }
.out1
{
 outline:auto gray;
}
body{
    background-image: url("https://img.freepik.com/premium-photo/grunge-textures-backgrounds-white-texture-decorative-painted-surface_160901-4939.jpg");
    margin :5px 55px;
}
h2{
    font-family: cursive;
}