.space2{
    line-height: 1.8; 
    font-family: cursive;
    
}
.upper8
{
    box-sizing: border-box;
    width: 75%;
    text-align: center;

}
img
{
   border-radius: 40px;
}
.spaceba{
    margin: 15px;
}
body{
    background-image: url("https://img.freepik.com/premium-photo/grunge-textures-backgrounds-white-texture-decorative-painted-surface_160901-4939.jpg");
    margin :5px 55px;
}
h1{
    font-family: cursive;
}