.space2{
    line-height: 1.8; 
    font-family: Arial, sans-serif;
    
}
.upper8
{
    box-sizing: border-box;
    width: 75%;
    text-align: center;

}
img
{
   border-radius: 40px;
}
.spaceba{
    margin: 15px;
}
